<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head') %> 
        <link rel="stylesheet" href="/css/style.css">

    </head>

<body>
    <%- include ('./partials/header') %>  
    <main>
        <section>
            
            <% if (data) { %>

            <h1> <%= data.name %> </h1>
            
            <div class="cajaSectionArticle">  
                               
                    <article class="articuloSection">
                        <img src="/images/<%= data.image %>">
                        <div class="itemsArticulos">
                            <i class="fa-solid fa-truck"></i>
                            <div class="cajaArticuloSection">
                                <p class="precioProducto">$ <%= data.price %> </p>
                                <p class="porcentajeDescuento">% <%= data.discount %> </p>
                            </div>
                            <h2> <%= data.name %>  </h2>
                        </div>
                    </article>
                    <% } else { %>
                        <p>Producto no encontrado.</p>
                    <% } %>

                
            </section>     

    </main>
    <%- include ('./partials/footer') %>  

</body>
</html>