<!DOCTYPE html>
<html lang="en">
   
<head>
    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include ('./partials/header') %>  
    <main> 
        <!-- Sección: Basado en tu última visita -->
        <section>
            
            <!-- <h1>Basado en tu última visita</h1> -->
            <h1>Todos los productos</h1>
            
            
            <div class="cajaSectionArticle">    
                    <% data.map((products) => {%>
                    
                    <article class="articuloSection">
                        <!-- Validación de imagen -->
                        <img src="/images/<%= products.image ? products.image : 'not-img.png' %>">
                        <div class="itemsArticulos">
                            <i class="fa-solid fa-truck"></i>
                            <div class="cajaArticuloSection">
                                <p class="precioProducto"> $ <%= products.price %> </p>
                                <p class="porcentajeDescuento"> % <%= products.discount %> </p>
                            </div>
                            <h2> <%= products.name %>  </h2>
                            <a href="/products/<%= products.id %>"> Ver más </a>
                        </div>
                    </article>
                    
                <% }) %>

    </section>     
    
    </main>

    <%- include ('./partials/footer') %>  

</body>
</html>
    