<!DOCTYPE html>
<html lang="en">
   
<head>
    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include ('./partials/header') %>  
    <main> 
        <!-- Sección: Basado en tu última visita -->
        <section>
            
            <!-- <h1>Basado en tu última visita</h1> -->
            <h1>Todos los productos</h1>
            
            
            <div class="cajaSectionArticle">    
                    <% data.map((products) => {%>
                    
                    <article class="articuloSection">
                        <img src="/images/<%= products.image %>">
                        <div class="itemsArticulos">
                            <i class="fa-solid fa-truck"></i>
                            <div class="cajaArticuloSection">
                                <p class="precioProducto"> <%= products.price %> </p>
                                <p class="porcentajeDescuento"> <%= products.discount %> </p>
                            </div>
                            <h2> <%= products.name %>  </h2>
                            <a href="/products/<%= products.id %>"> Ver más </a>
                        </div>
                    </article>
                    
                <% }) %>
                <!-- <article class="articuloSection">
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="itemsArticulos">
                        <i class="fa-solid fa-truck"></i>
                        <div class="cajaArticuloSection">
                            <p class="precioProducto">$230.000</p>
                            <p class="porcentajeDescuento">20% off</p>
                        </div>
                        <h2>MacBook Pro 2019</h2>
                    </div>
                </article>
                
                <article class="articuloSection">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="itemsArticulos">
                        <i class="fa-solid fa-truck"></i>
                        <div class="cajaArticuloSection">
                            <p class="precioProducto">$70.500</p>
                            <p class="porcentajeDescuento">10% off</p>
                        </div>
                        <h2>Samsung Galaxy S10</h2>
                    </div>
                </article>
                
                <article class="articuloSection">
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="itemsArticulos">
                        <i class="fa-solid fa-truck"></i>
                        <div class="cajaArticuloSection">
                            <p>$23.200</p>
                        <p class="porcentajeDescuento">5% off</p>
                    </div>
                    <h2>SmartTv Samsung 43"</h2>
                </div>
            </div>
        </article> -->
    

    </section>     
    
    <!-- Sección de Ofertas -->
    
    <!-- <section>
        
                <h1>Sección de Ofertas</h1>
                <div class="cajaSectionArticle">    
                    <article class="articuloSection">
                    <img src="/images/img-cafetera-moulinex.jpg">
                        <div class="itemsArticulos">
                            <i class="fa-solid fa-truck"></i>
                            <div class="cajaArticuloSection">
                                <p class="precioProducto">$6.770</p>
                                <p class="porcentajeDescuento">40% off</p>
                            </div>
                            <h2>Cafetera Moulinex</h2>
                        </div>
                </article>
            
                <article class="articuloSection">
                    <img src="/images/img-macbook-pro-2019.jpg">
                        <div class="itemsArticulos">
                            <i class="fa-solid fa-truck"></i>
                            <div class="cajaArticuloSection">
                                <p class="precioProducto">$230.000</p>
                                <p class="porcentajeDescuento">20% off</p>
                            </div>
                            <h2>MacBook Pro 2019</h2>
                        </div>
                </article>
        
                <article class="articuloSection">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="itemsArticulos">
                        <i class="fa-solid fa-truck"></i>
                        <div class="cajaArticuloSection">
                            <p class="precioProducto">$70.500</p>
                            <p class="porcentajeDescuento">10% off</p>
                        </div>
                        <h2>Samsung Galaxy S10</h2>
                    </div>
                </article>
                    
                <article class="articuloSection">
                    <img src="/images/img-tv-samsung-smart.jpg">
                        <div class="itemsArticulos">
                        <i class="fa-solid fa-truck"></i>
                        <div class="cajaArticuloSection">
                            <p class="precioProducto">$23.200</p>
                            <p class="porcentajeDescuento">5% off</p>
                        </div>
                        <h2>SmartTv Samsung 43"</h2>
                    </div>
                </article>
            </div>
        </section> -->
    </main>

    <%- include ('./partials/footer') %>  

</body>
</html>
    