<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head') %>  
        <link rel="stylesheet" href="/css/login.css">
    </head>
<body>

    <%- include ('./partials/header') %>  

    <main>
        <section>

            <% if (locals.errorsValidation) { %>
                <% errorsValidation.forEach(errorsValidation => { %>
                    <p> <%= errorsValidation.msg %> </p>
                <% }) %>
            <% } %>

            <form class="formularioLogin" action="/users/profile" method="POST" enctype="multipart/form-data" >
                
                <p class="pRegistro">
                    <label for="userMail">Ingrese su correo:</label>
                    <input type="email" id="userMail" name="userMail" placeholder="Mail" value="<%= locals.oldData && oldData.userMail ? oldData.userMail : '' %>">
                </p>
                
                <p class="pRegistro">
                    <label for="userPassword">Ingrese una contraseña:</label>
                    <input type="password" id="userPassword" name="userPassword" placeholder="Contraseña">
                </p>

                <p class="pRegistro">
                    <input type="checkbox" id="checkboxLogin" name="checkboxLogin">
                    <label for="checkboxLogin">¿Desea recordar el usuario?</label>
                </p>
                
                <p class="pRegistro">
                    <button type="submit" name="btnsubmit" id="submit">Envíar</button>
                </p>
                
                
            </form>
        </section>
        </main>
        
        <%- include ('./partials/footer') %>  
        
    </body>
    </html>