<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head') %>  
        <link rel="stylesheet" href="/css/register.css">
    </head>
<body>
    <%- include ('./partials/header') %>  

<main>
    <section>

        <% if (locals.errorsValidation) { %>
            <% errorsValidation.forEach(errorsValidation => { %>
                <p> <%= errorsValidation.msg %> </p>
            <% }) %>
        <% } %>

        <form id="formularioRegistro" class="formularioRegistro" action="/users/register" method="POST" enctype="multipart/form-data">
                        
            <p class="pRegistro">
                <label for="userName">Nombre de usuario:</label>
                <input type="text" id="userName" name="userName" placeholder="Usuario" value="<%= locals.oldData && oldData.userName ? oldData.userName : '' %>">
            </p>
            
            <p class="pRegistro">
                <label for="userMail">Ingrese su correo:</label>
                <input type="email" id="userMail" name="userMail" placeholder="Mail" value="<%= locals.oldData && oldData.userMail ? oldData.userMail : '' %>">
            </p>
            
            <p class="pRegistro">
                <label for="userPassword">Ingrese una contraseña:</label>
                <input type="password" id="userPassword" name="userPassword" placeholder="Contraseña">
            </p>

            <p class="pRegistro">
                <label for="imgUser">Imagen</label>
                <input type="file" name="imgUser" id="imgUser">
            </p>
            
            <p class="pRegistro">
                <button type="reset" name="btnreset" id="btnreset">Borrar</button>
                <button type="submit" name="btnsubmit" id="submit" >Registrarme</button>
            </p>

            
        </form>
    </section>
</main>
    
    <%- include ('./partials/footer') %>  
    
    <!-- <script src="/js/script.js"></script> -->

</body>
</html>